<div>
  <h2>Journey planner</h2>
</div>
<div>
  <div  class="location-container">
    <mat-form-field floatLabel="never">
      <mat-label>From</mat-label>
      <input matInput [matAutocomplete]="originAutocomplete" [(ngModel)]="origin"
             (ngModelChange)="filteredOrigins = filterOrigins(origin, destination)">
      <mat-autocomplete #originAutocomplete="matAutocomplete">
        <mat-option *ngFor="let origin of filteredOrigins" [value]="origin.name">
          <span>{{ origin.name }}</span>
          <span class="demo-secondary-text"> ({{origin.code}}) </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <mat-form-field floatLabel="never">
      <mat-label>To</mat-label>
      <input matInput [matAutocomplete]="destinationAutocomplete" [(ngModel)]="destination"
             (ngModelChange)="filteredDestinations = filterDestinationss(origin, destination)">
      <mat-autocomplete #destinationAutocomplete="matAutocomplete">
        <mat-option *ngFor="let destination of filteredDestinations" [value]="destination.name">
          <span>{{ destination.name }}</span>
          <span class="demo-secondary-text"> ({{destination.code}}) </span>
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </div>
</div>

<div>
  <h2>Travel dates</h2>
</div>
<div>
  <mat-checkbox [(ngModel)]="isReturnRequired">Return journey required?</mat-checkbox>
  <p>
    <mat-form-field color="accent">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" [(ngModel)]="startDate" [min]="startDateMinDate" [max]="startDateMaxDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>
    &nbsp;
    <mat-form-field color="accent">
      <mat-label>Return date</mat-label>
      <input matInput [matDatepicker]="returnDatePicker" [(ngModel)]="returnDate" [min]="returnDateMinDate"
             [disabled]="returnDatepickerDisabled">
      <mat-datepicker-toggle matSuffix [for]="returnDatePicker" ></mat-datepicker-toggle>
      <mat-datepicker #returnDatePicker
                      [disabled]="returnDatepickerDisabled"></mat-datepicker>
    </mat-form-field>
  </p>
</div>

<div>
  <h2>Passengers</h2>
</div>
<div>
  <mat-form-field>
    <mat-label>Adults</mat-label>
    <input matInput
           type="number"
           min="1"
           max="5"
           [(ngModel)]="numberOfAdults"
           required>
  </mat-form-field>
</div>
